
.ztree li ul.line {
  background: none;
}

.ztree * {
  padding: 0;
  margin: 0;
  /*font-size: 1.08333333rem;*/
}

.ztree {
  margin: 0;
  /*padding: 5px;*/
	padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
  color: #666666;
}

.ztree li {
  /*padding: 0 5px;*/
  margin: 0;
  list-style: none;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  outline: 0;
	/*border-top:1px solid #edeef0;*/
}

.ztree li ul {
  margin: 0px;
  padding: 0 0 0 17px;
}

.ztree li a {
  padding-right: 3px;
  margin: 0;
  cursor: pointer;
  height: 30px;
  color: #666666;
  background-color: transparent;
  text-decoration: none;
  /*vertical-align: top;*/
  display: inline-block;
  width: calc(100% - 10px);


}


.node_name{

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 50px);
    display: inline-block;

}

.ztree li a input.rename {
  height: 27px;
  width: auto;
  padding: 0;
  margin: 0;
  color: #666666;
  background-color:  white;
  font-size: 1.08333333rem;
  border: 1px #585956 solid;
  *border: 0px;
}

.ztree li a:hover {
  background-color: #dfebf6;
  /*color: white;*/
  opacity: 0.6;
}

.ztree li a.curSelectedNode {
  padding-top: 0px;
  background-color: #dfebf6;
  color: #015272;
  height: 30px;
  opacity: 0.6;
  font-weight: bold;
}

.ztree li a.curSelectedNode_Edit {
  padding-top: 0px;
  background-color: transparent;
  color: white;
  height: 30px;
  /*border: 1px #dfebf6 solid;*/
  opacity: 0.6;
}

.ztree li a.tmpTargetNode_next {

  border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #599aff;

}

.ztree li a.tmpTargetNode_prev {

  border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #599aff;

}

.ztree li a.tmpTargetNode_inner {
  padding-top: 0px;
  /*background-color: #a2eeee;*/
  color: #141414;
  height: 30px;
  /*border: 1px #dfebf6 solid;*/
  opacity: 0.8;
  filter: alpha(opacity=80);
  font-weight: bold;
}

.ztree li span {
  line-height: 24px;
  margin-right: 2px;
  background-color: transparent;
}

.ztree li span.button {
  line-height: 0;
  margin: 0;
  padding: 0 0px;
  width: 15px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  border: 0px solid;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.ztree li span.button::before {
  font-family: FontAwesome;
  padding-top: 10px;
}

.ztree li span.button.chk {
  margin: 0px;
  cursor: auto;
  width: 12px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 2px;
}

.ztree li span.button.chk.checkbox_false_full::before {
  content: "\f096";
}
.ztree li span.button.chk.checkbox_false_full_focus::before {
  content: "\f096";
  color: #ffff00;
}
.ztree li span.button.chk.checkbox_false_part::before {
  content: "\f096";
  color: #aaaaaa;
}
.ztree li span.button.chk.checkbox_false_part_focus::before {
  content: "\f096";
  color: #cad96c;
}
.ztree li span.button.chk.checkbox_false_disable::before {
  content: "\f096";
  color: #808080;
}
.ztree li span.button.chk.checkbox_true_full::before {
  content: "\f046";
}
.ztree li span.button.chk.checkbox_true_full_focus::before {
  content: "\f046";
}
.ztree li span.button.chk.checkbox_true_part::before {
  content: "\f14a";
}
.ztree li span.button.chk.checkbox_true_part_focus::before {
  content: "\f14a";
  color: #32a444;
}
.ztree li span.button.chk.checkbox_true_full_focus::before {
  content: "\f046";
  color: #32a444;
}
.ztree li span.button.chk.checkbox_true_part::before {
  content: "\f046";
  color: #aaaaaa;
}
.ztree li span.button.chk.checkbox_true_part_focus::before {
  content: "\f046";
  color: #32a444;
}
.ztree li span.button.chk.checkbox_true_disable::before {
  content: "\f046";
  color: #808080;
}
.ztree li span.button.chk.radio_false_full::before {
  content: "\f10c";
}
.ztree li span.button.chk.radio_false_full_focus::before {
  content: "\f10c";
  color: #32a444;
}
.ztree li span.button.chk.radio_false_part::before {
  content: "\f10c";
  color: #aaaaaa;
}
.ztree li span.button.chk.radio_false_part_focus::before {
  content: "\f10c";
  color: #32a444;
}
.ztree li span.button.chk.radio_false_disable::before {
  content: "\f1db";
  color: #808080;
}
.ztree li span.button.chk.radio_true_full::before {
  content: "\f192";
}
.ztree li span.button.chk.radio_true_full_focus::before {
  content: "\f192";
  color: #32a444;
}
.ztree li span.button.chk.radio_true_part::before {
  content: "\f192";
  color: #aaaaaa;
}
.ztree li span.button.chk.radio_true_part_focus::before {
  content: "\f192";
  color: #aaaaaa;
}
.ztree li span.button.chk.radio_true_disable::before {
  content: "\f1db";
  color: #808080;
}
.ztree li span.button.switch {
  width: 15px;
  height: 16px;
}
.ztree li span.button.root_open::before {
  content: "\f078";
  padding-top: 10px;
  padding-left: 2px;
  display: inline-block;
}
.ztree li span.button.root_close::before {
  content: "\f115";
  padding-top: 10px;
  padding-left: 2px;
  display: inline-block;
}
.ztree li span.button.roots_open::before {
  content: "\f078";
  padding-top: 10px;
  padding-left: 2px;
  display: inline-block;
}
.ztree li span.button.roots_close::before {
  content: "\f054";
  padding-top: 10px;
  padding-left: 2px;
  display: inline-block;
}
.ztree li span.button.center_open::before {
  content: "\f078";
  padding-top: 10px;
  padding-left: 2px;
  display: inline-block;
}
.ztree li span.button.center_close::before {
  content: "\f054";
  padding-top: 10px;
  padding-left: 2px;
  display: inline-block;
}
.ztree li span.button.bottom_open::before {
  content: "\f078";
  padding-top: 10px;
  padding-left: 2px;
  display: inline-block;
}
.ztree li span.button.bottom_close::before {
  content: "\f054";
  padding-top: 10px;
  padding-left: 2px;
  display: inline-block;
}
.ztree li span.button.root_docu {
  background: none;
}
.ztree li span.button.roots_docu::before {
  content: "\f022";
  padding-left: 2px;
  display: inline-block;
  color: #4e5564;
}
.ztree li span.button.center_docu::before {
  padding-top: 10px;
  padding-left: 2px;
  display: inline-block;
  color: #4e5564;
}
.ztree li span.button.bottom_docu::before {
  padding-top: 10px;
  padding-left: 2px;
  display: inline-block;
  color: #4e5564;
}
.ztree li span.button.noline_docu {
  background: none;
}
/*.ztree li span.button.ico_open::before {*/
/*  content: "\f115";*/
/*  font-family: FontAwesome;*/
/*  padding-top: 10px;*/
/*  padding-left: 2px;*/
/*  display: inline-block;*/
/*  color: #4e5564;*/
/*}*/
/*.ztree li span.button.ico_close::before {*/
/*  content: "\f114";*/
/*  font-family: FontAwesome;*/
/*  padding-top: 10px;*/
/*  padding-left: 2px;*/
/*  display: inline-block;*/
/*  color: #4e5564;*/
/*}*/
/*.ztree li span.button.ico_docu::before {*/
/*  content: "\f022";*/
/*  font-family: FontAwesome;*/
/*  padding-top: 10px;*/
/*  padding-left: 2px;*/
/*  display: inline-block;*/
/*  color: #4e5564;*/
/*}*/



.ztree li span.button.custom {
    margin-left: 4px;
    margin-right: -1px;
    vertical-align: top;
    padding-top: 5px;
}


.ztree li span.button.edit {
  margin-left: 4px;
  margin-right: -1px;
  vertical-align: top;
  *vertical-align: middle;
  padding-top: 10px;
}


.ztree li span.button.edit::before {
  content: "\f044";
  font-family: FontAwesome;
}
.ztree li span.button.remove {
  margin-left: 4px;
  margin-right: -1px;
  vertical-align: top;
  *vertical-align: middle;
  padding-top: 10px;
}
.ztree li span.button.remove::before {
  content: "\f1f8";
  font-family: FontAwesome;
}
.ztree li span.button.add {
  margin-left: 4px;
  margin-right: -1px;
  vertical-align: top;
  *vertical-align: middle;
  padding-top: 10px;
}
.ztree li span.button.add::before {
  content: "\f067";
  font-family: FontAwesome;
}
.ztree li span.button.ico_loading {
  margin-right: 2px;
  background: url(./img/loading.gif) no-repeat scroll 0 0 transparent;
  vertical-align: top;
  *vertical-align: middle;
}
ul.tmpTargetzTree {
  background-color: #FFE6B0;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
span.tmpzTreeMove_arrow {
  width: 16px;
  height: 17px;
  display: inline-block;
  padding: 0;
  margin: 2px 0 0 1px;
  border: 0 none;
  position: absolute;
  background-color: transparent;
  background-attachment: scroll;
}
span.tmpzTreeMove_arrow::before {
  content: "\f04b";
  font-family: FontAwesome;
  color: #7a96a4;
}
ul.ztree.zTreeDragUL {
  margin: 0;
  padding: 0;
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: #cfcfcf;
  border: 1px #32a444 dotted;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.ztreeMask {
  z-index: 10000;
  background-color: #cfcfcf;
  opacity: 0.0;
  filter: alpha(opacity=0);
  position: absolute;
}